@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    position: relative;
}
*{
    text-align: center;
    margin: 0px;
}

select{
    text-align: center;
    font-size: 30px;
}

option{
    font-size: 20px;
    background-color: rgba(84, 151, 40, 0.308);
}

.attsel, .defsel{
    width: 200px;
    height: 50px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 3px rgb(17, 0, 0) solid;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(240, 248, 255, 0);
    font-family: 'Nunito', 'Arial';
    appearance: none;
    transition: ease-in-out 300ms;
    transition-property: background-color;
}

.defsel{
    color: rgb(0, 0, 0);
}

#all{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#attacker, #difender{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 30px 30px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.623) 20px 20px 5px;
}

#attacker{
    position: relative;
    background-color: rgb(255, 83, 83);
    margin-right: 50px;
}

#difender{
    background-color: rgb(58, 58, 201);
    margin-left: 50px;
}

input{
    color: white;
    background-color: rgba(0, 0, 0, 0.479);
    margin-bottom: 10px;
    font-size: 30px;
    height: 50px;
    box-sizing: border-box;
    outline: none;
    border: none;
}

input:focus{
    background-color: #ffffff;
    transition-duration: 100ms;
    color: black;
}

#_ox{
    position: absolute;
    background-color: rgb(68, 68, 68);
    width: 400px;
    height: 30px;
    margin-bottom: 435px;
    margin-right: 500px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(216, 216, 216);
    font-size: 13px;
}
#_ox2{
    position: absolute;
    background-color: rgb(68, 68, 68);
    width: 400px;
    height: 30px;
    margin-bottom: 435px;
    margin-left: 500px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(216, 216, 216);
    font-size: 13px;
}

#times{
    position: absolute;
    width: 200px;
    background-color: black;
    color: white;
    padding: 10px 2px;
    margin: 700px 0 0 1500px;
}

#attTopInput, #defTopInput{
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 365px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
}

#attTopInput:focus, #defTopInput:focus{
    background-color: #fff;
    color: black;
}

#times_2{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(79, 79, 79);
    color: white;
    margin: 400px 0 0 1500px;
}

#BtParent {
    position: absolute;
    margin: 300px 80vw 0 0;
    width: 300px;
    height: max-content;
    padding: 50px 0 0 0;
    background-color: rgb(40, 79, 255);
    box-sizing: border-box;
    border: rgba(5, 5, 1, 0.541) 3px solid;
    box-shadow: rgba(0, 0, 0, 0.616) 20px 20px 5px;
}

#runBt{
    width: 100px;
    height: 35px;
    background-color: black;
    color: white;
    margin-bottom: 3px;
    border: rgba(0, 0, 0, 0) solid 3px;
}

#runBt:hover{
    opacity: 0.93;
}

#runBt:active{
    color: black;
    background-color: #fff;
}

#BtParent p {
    background-color: white;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 2px;
    font-family: 'Kosugi Maru', sans-serif;
}

#frame {
    position: absolute;
}

#white_screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(3, 0, 41);
    display: flex;
    align-items: center;
    justify-content: center;
}

#white_screen img {
    width: 200px;
    height: cover;
}

.trush {
    position: absolute;
    width: 25px;
    height: cover;
    margin: 340px 0 0 325px;
    background-color: #fff;
    padding: 5px;
}

.trush:hover {
    background: #fff;
}

.trush:active {
    background-color: #fff;
    opacity: 0.7;
    width: 23px;
    height: cover;
}

#aimg_1, #aimg_2, #aimg_3, #aimg_4, #aimg_5, #dimg_1, #dimg_2, #dimg_3, #dimg_4, #dimg_5{
    position: absolute;
    width: 40px;
    border-radius: 50px;
}

#aimg_1 {
    margin: 0 0 170px 20px;
}

#aimg_2 {
    margin: 0 0 60px 20px;
}

#aimg_3 {
    margin: 50px 0 0 20px;
}

#aimg_4 {
    margin: 160px 0 0 20px;
}

#aimg_5 {
    margin: 270px 0 0 20px;
}

#dimg_1 {
    margin: 0 0 170px 20px;
}

#dimg_2 {
    margin: 0 0 60px 20px;
}

#dimg_3 {
    margin: 50px 0 0 20px;
}

#dimg_4 {
    margin: 160px 0 0 20px;
}

#dimg_5 {
    margin: 270px 0 0 20px;
}