:root{
    --mobile-sheet-width: 170px;
    --mobile-select-height: 30px;
    --mobile-title-input-height: 40px;
    --mobile-attacker-margin-bottom: 340px;
    --mobile-attacker-margin-spacing: 10px;
}